.header{
    background-color: #FCAEAE;
    display:flex;
    justify-content: center;
    
  }
  .footer{
    margin-top: 100px;
    background-color: #FCAEAE;
    display:flex;
    justify-content: center;
  }